<div class="topbar">
  <div class="container">
    <div class="topbar-right">
      <a href="#"><i class="fa-solid fa-phone"></i> 09372105008</a>
      <a href="#"><i class="fa-solid fa-envelope"></i> azaryazdan.com</a>
    </div>
    <div class="topbar-left">
      <i class="fa-solid fa-user"></i>
      <a href="#" class="auth-btn">ورود</a>
      <a href="#" class="auth-btn register">ثبت نام</a>
    </div>
  </div>
</div>

<header class="header">
  <div class="container">
    <div class="logo">AZARYAZDAN</div>
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav id="navMenu">
      <ul>
        <li><a href="#">خانه</a></li>
        <li><a href="#">محصولات</a></li>
        <li><a href="#">تجهیزات پزشکی</a></li>
        <li><a href="#">دندانپزشکی</a></li>
        <li><a href="#">برندها</a></li>
        <li><a href="#">وبلاگ</a></li>
        <li><a href="#">تماس</a></li>
      </ul>
    </nav>
    <div class="header-icons">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </div>
</header>
